DJANGO_SETTINGS_MODULE=config.settings.dev
SECRET_KEY=cambiar-en-produccion
FERNET_KEY=generar-con-Fernet.generate_key()
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=medico
DB_USER=postgres
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432

CORS_ALLOWED_ORIGINS=http://localhost:5173

CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_TASK_ALWAYS_EAGER=True

ACCESS_TOKEN_LIFETIME_MIN=60
REFRESH_TOKEN_LIFETIME_DAYS=7
